import * as S from './styles'

const {{pascalCase name}} = () => (
  <S.Wrapper>
    <h1>{{pascalCase name}} - initial component example</h1>
  </S.Wrapper>
)

export default {{pascalCase name}}
